@use "../abstracts/variables" as *;


#index-app .display-3 {
  text-transform: uppercase;
  letter-spacing: 1rem;
}

#loader {
    z-index: 1031;
    transition: opacity ease-out .2s;
    background: $dark-color;
}

.loader-item {
  display: inline-flex;
  gap: 5px;
}

.loader-item::before,
.loader-item::after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l5 1.5s infinite;
}

.loader-item::after {
  --s:-1;
}

@keyframes l5 {
  0%   {transform:scaleX(var(--s,1)) translate(0) scale(1)}
  33%  {transform:scaleX(var(--s,1)) translate(calc(50% + 2.5px)) scale(1)}
  66%  {transform:scaleX(var(--s,1)) translate(calc(50% + 2.5px)) scale(2)}
  100% {transform:scaleX(var(--s,1)) translate(0) scale(1)}
}

.external-link,
.external-link .external-link-label {
  transition: all linear .2s;
  color: #F8F9fA;
}

.external-link .external-link-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  white-space: nowrap;
  opacity: 0;
}

.external-link:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
  color: $primary-color;
}

.external-link:hover .external-link-label {
  cursor: pointer;
  opacity: 1;
  transform: translateX(-50%) transform(-100%) scale(1.1);
  color: $primary-color;
}

.skill-bar {
  width: 100px;
  height: 12px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  max-width: 0;
  transition: all linear .5s .5s;
}

.portfolio-item {
  transition: all linear .2s;
}

.portfolio-item img {
  box-shadow: 0 0 15px #F8F9fA;
}

.portfolio-item:hover {
  transform: scale(1.1);
}

.switch {
  width: 150px;
  height: 30px;
}

.switch .switch-handle {
  transition: all .3s ease-out;
}

.lang-button {
  background: transparent;
  transition: all linear .2s;
}

.lang-button:hover {
  background: #F8F9fA;
}

.typewrite > .wrap {
  border-right: 0.08em solid #fff;
  transition: border-color 0.5s ease;
}