// -----------------------------------------------------------------------------
// This file contains several variables used accross the project
// -----------------------------------------------------------------------------

$primary-color: #87CEEB;
$dark-color: #212337;