<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = "width = device-width, initial-scale = 1">
        
        <title><%= htmlWebpackPlugin.options.title %></title>

        <link rel = 'icon' type = "image/x-icon" href = "data:image/x-icon;base64,">
    </head>
    <body>
        <div id = "index-app" class = "h-100 v-100"></div>
    </body>
</html>