// -----------------------------------------------------------------------------
// This file contains all @keyframes declarations, if any.
// -----------------------------------------------------------------------------

/* Fade-in effects
   ========================================================================== */

.fade-in {
  opacity: 0;

  &-top { animation: fade-in-top 1s both; }
  &-left { animation: fade-in-left 1s both; }
  &-right { animation: fade-in-right 1s both; }
  &-bottom { animation: fade-in-bottom 1s both; }
}

/**
 * Fade-in top animation
 */
@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * Fade-in left animation
 */
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/**
 * Fade-in right animation
 */
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/**
 * Fade-in bottom animation
 */
@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  opacity: 1;

  &-top { animation: fade-out-top 1s both; }
  &-left { animation: fade-out-left 1s both; }
  &-right { animation: fade-out-right 1s both; }
  &-bottom { animation: fade-out-bottom 1s both; }
}

/**
 * Fade-in top animation
 */
@keyframes fade-out-top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/**
 * Fade-in left animation
 */
@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

/**
 * Fade-in right animation
 */
@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

/**
 * Fade-in bottom animation
 */
@keyframes fade-out-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
