// -----------------------------------------------------------------------------
// This file contains global typographic rules
// -----------------------------------------------------------------------------

@use "../abstracts/variables" as *;


body {
  font-family: "Work Sans Regular";
  font-size: 1.25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
  color: #F8F9fA;
  text-shadow: 2px 2px 2px $dark-color;
}

h1 {
  font-family: "Work Sans Light";
}

a {
  text-decoration: none;
}

.list-styled li {
  list-style: square;
}

.tag {
  background: rgb(248 249 250 / 75%);
  text-shadow: none;
  color: $dark-color;
}

.modal {
  text-shadow: none;
}
