/*GLOBAL CSS PROPERTIES*/
/*Global properties*/
body {
	margin: 0;
	color: white;
	font-family : Calibri Light, Calibri, sans-serif;
	overflow: hidden;
}
button {
	cursor: pointer;
	text-transform: uppercase;
}
canvas {
	display: block;
	pointer-events: all;
}

/*Fonts*/
@font-face {
	font-family: "Calibri Light";
	src: url("./files/fonts/calibril.ttf") format("ttf");
}


/*LOADER PROPERTIES*/
/*Page Properties*/
#loader
{
	z-index : 100;
	position : absolute;
	top : 0px;
	right : 0px;
	height : 100%;
	width : 100%;
	margin : 0px;
	overflow : hidden;
	display : flex;
	background-color : #0a0a0f;
	background-repeat : no-repeat;
	background-position : center center;
	transition : opacity ease-out 0.5s;
}

/*Spinning wheel properties*/
#load_symbol
{
	display : inline-block;
	margin : auto;
    width: 220px;
    height: 220px;
	border: 10px solid white;
    border-top: 10px solid lightgray;
	border-radius: 50%;
    animation: spin 1000ms ease infinite;
}
@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    to {transform:rotate(360deg);}
}


/*MAIN INFORMATION PANEL PROPERTIES*/
/*Headlines*/
#headlines {
	display : grid;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
#mainPic{
	position: relative;
	left : 50%;
	transform: translateX(-50%);
	width : 25em;
	height : 25em;
	border-radius : 50%;
	text-align : center;
}
#profileName{
	font-size : 10em;
	font-weight : bold;
}
#profileTitle{
	font-size : 5em;
	font-weight : bold;
}

/*Language buttons*/
#languageButtons {
	display : block;
	position : relative;
	text-align : center;

	font-size : 2em;
	top : 0em;
	transition: top ease-out 0.1s, font-size ease-out 0.1s;
}
.languageButton:hover {
	cursor : pointer;
	font-weight: bold;
	color :rgb(211, 123, 0);

	top : -1em;
}
.languageFlags {
	display : block;
	position : relative;
	left : 50%;
	transform: translateX(-50%);
	width : 2em;
	height : 1.5em;
}

/*Links*/
.links {
	display : block;
	position : relative;
	text-align: center;
	text-decoration : none;

	color : rgba(255, 255, 255, 0);
	top : 0em;
	transition : color ease-out 0.4s, top ease-out 0.1s;
}
.links:hover {
	cursor : pointer;

	color: rgba(255, 255, 255, 1);
	top : -1em;
	filter: invert(61%) sepia(98%) saturate(558%) hue-rotate(1deg) brightness(108%) contrast(105%);
}
.linksIcon {
	display : block;
	position : relative;
	width : 4em;
	height : 4em;
	left : 50%;
	transform : translateX(-50%);
}
.linksLabel {
	font-size : 1.5em;
	font-weight: bold;
}

/*Additional Informations*/
#contactInformation {
	font-size : 2.5em;
	grid-row : 3;
	grid-column : 1;
}
.contactIcons {
	float: left;
	width : 1.2em;
	height : 1.2em;
}
#profileDescription {
	font-size : 2.5em;
	grid-row : 3;
	grid-column : 2;
	font-style : italic;
	text-align : right;
}
.emailAddress:hover, .closeCross:hover {
	cursor : pointer;
	font-weight: bold;
	color :rgb(211, 123, 0);
}
.closeCross {
	float : right;
	font-size : 4em;
	font-family : 'Calibri Light';
	transform : translateY(50%);
}

/*EMAIL FORM PROPERTIES*/
#contactTitle, #contactForm, .emailFormLabel, .emailFormInput , #submitButton{
	display : block;
	border : 0px;
}
#contactTitle {
	display : inline-block;
	font-size : 7em;
	font-weight : bold;
}
.emailFormLabel {
	font-size : 2.5em;
}
.emailFormInput {
	color : white;
	width : 100%;
	font-size : 2.5em;
	background : rgba(255, 255, 255, 0.1);
	font-family: "Calibri Light";
}
.emailFormInput:focus {
	border: 3px solid white;
}
#message {
	color: white;
	width : 100%;
	height : 6em;
	font-size : 2.5em;
	background : rgba(255, 255, 255, 0.1);
	font-family: "Calibri Light";
	border : 0px;
}
#message:focus {
	border: 3px solid white;
}
.submitButton {
	color : white;
	font-family: "Calibri Light";
	font-weight : bold;
	margin-top : 1em;
	width : 100%;
	background : rgba(255, 255, 255, 0.1);
	font-size : 2.5em;
}
.submitButton:hover {
	background : rgba(255, 255, 255, 0.2);
}

/*SECTION PANELS PROPERTIES*/
/*Header*/
.sectionIcon {
	position : relative;
	top : 0.15em;
	float : left;
	width : 1em;
	height : 1em;
}
.sectionHeader {
	height : 1em;
	font-size : 5em;
	font-weight : bold;
	border-bottom: 0.05em solid white;
	padding-bottom : 0.3em;
}

/*Content*/
.sectionContent {
	position : absolute;
	width : 110em;
	height : 43em;
	display: grid;
	grid-row-gap : 2em;
	overflow : hidden;
	padding: 2em;
}
.date {
	text-align : right;
	font-size : 2.5em;
	padding-right : 0.5em;
	line-height : 1; 
}
.job, .degree, .misc, .skills{
	padding-left : 1em;
	border-left : 0.2em solid white;
}
.skillName, .miscName{
	font-weight : bold;
}

/*Job Specific*/
.positionName {
	font-size: 3em;
	font-weight : bold;
}
.companyCredentials {
	font-size: 3em;
}
.jobDescription {
	font-size: 2.25em;
	line-height : 1;
}

/*Degree Specific*/
.degreeName {
	font-size: 3.25em;
	font-weight : bold;
}
.schoolCredentials {
	font-size: 3.25em;
}
.degreeDescription {
	font-size: 2.75em;
}

/*Skills specific*/
.levelsLegend {
	float : right;
	padding-top : 1em;
	font-size : 0.4em;
}
.skillsTopic {
	font-size: 2.5em;
	font-weight: bold;
}
.skillsDescription {
	font-size: 2.1em;
}

/*Misc specific*/
.miscTopic {
	font-size: 3em;
	font-weight: bold;
}
.miscDescription {
	font-size: 2.5em;
}
.languageFlag {
	float : left;
	width: 1.5em;
}